h1{
    text-align: center;
    text-transform: uppercase;
    background-color: green;
    margin-bottom: 0;
}
ul{
    background-color: bisque;
}

main{
    
}

nav{
    text-align: right;
}

nav ul li{
    display: inline-block;
}

footer{
    background-color: blueviolet;
    text-align: center;
}

.playground{
    background-color: aquamarine;
}

main #playground{
    display: block;
    
    margin: 0 auto;
    background-color: rgb(53, 127, 247);
    
    border: 10px solid black;
    padding: 0px;
}

#score-board{
    text-align: center;
}
#score-board h2{
    padding: 20px 10px 10px 10px;
}

#actual-score{
    padding: 10px 15px;
    margin-bottom: 20px;
}

#new-game{
    padding: 10px 15px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
}

#new-game:hover{
    background-color: rgb(45, 45, 45);
}